
@font-face {
font-family:hk-light;
src: url(assets/fonts/HKGrotesk-Light.otf);}

body, html {
    height: 100%;
}

.vid {
  float: left;
  margin-right: 10px;
  margin-top: -5px;
}
#cover1 {
    background-image: src url(assets/media/cover.jpg);
    background-repeat: no-repeat;
    background-size: auto;

}

#small1 {
  font-size: 30px;
}

#small2 {
  font-size: 30px;
}

#small3 {
  font-size: 40px;
  text-align: center;
  font-family: "jaf-domus",sans-serif;
  font-weight: 200;
  line-height: 50px;

}
h1 {
  margin-top: 40px;
  font-size: 250px;
  font-family: "jaf-domus",sans-serif;
  font-weight: 200;
  text-align: center;
  color: white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}
 a {
   margin-top: 20px;
   font-size: 100px;
   font-family: "jaf-domus",sans-serif;
   font-weight: 200;
   text-align: center;
   color: black;
 }

.original {
  height: 600px;
  width: 400px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 0.3;
  animation: nudge  infinite alternate;
  animation-duration: ;
}

.originalhome {
  height: 900px;
  width: 700px;
}
.originalhome2 {
  height: 900px;
  width: 700px;
}

@keyframes nudge {
  0%, 100% {
    transform: translate(800px, 0px);
  }

  100% {
    transform: translate(100px, 0px);
  }

  100%{
    transform: translate(150px, 0px);
  }
}

.original:hover {filter: grayscale(0%);
-webkit-filter: grayscale(0%);
opacity: 1.0;
transition: ;}

h109 {
  text-align: center;
  font-size: 40px;
   font-family: "source-sans-pro",sans-serif;
   font-weight: 200;
}
h101 {
  position: absolute;
  top: 490px;
  left: 420px;
  font-size: 60px;
   font-family: "source-sans-pro",sans-serif;
  font-weight: 200;
}

.name {
  top:60px;
  left: 120px;
  position: absolute;
  font-family: "dazzle-unicase",sans-serif;
  line-height: 200px;

}
.channel {
  font-family: "source-sans-pro",sans-serif;
  font-weight: 200;
  font-size: 60px;


}

.summary{
position: absolute;
width: 50%;
left: 340px;
top: 570px;
  line-height: 40px;
  text-align: center;
  font-size: 30px;
  font-family: "source-sans-pro",sans-serif;
  font-weight: 200;
  margin-bottom: 200px;

}
.time {
  font-family: "source-sans-pro",sans-serif;
  font-weight: 200;
}
 .a6 {
   line-height: 100px;
   text-decoration-line: none;
   margin-top: 20px;
   margin-left:10px;
   font-size: 50px;
   font-family: "jaf-domus",sans-serif;
   font-weight: 200;
   color: black;

 }
.a6:hover { text-decoration: line-through;}
a:hover { text-decoration: line-through;}
 .a4:hover img{ display:block; top: 900px; opacity: 0.7; transition: 0.7s;}
 .a4:hover {color: white;}

 #container90 {
   width: 400px;
   height: 400px;
   position: relative;
   background: yellow;
 }
 #og {
   width: 50px;
height: 50px;
position: absolute;
background-color: transparent;

 }

 #oghome {
   width: 50px;
height: 50px;
position: absolute;
background-color: transparent;

 }
 .runbutton {
   font-family: "source-sans-pro",sans-serif;
   font-weight: 200;
   position: absolute;
   top: 510px;
   left: 500px;

   background-color: transparent;
   border: none;
   font-size: 60px;

 }
 .runbutton:hover {
   font-size: 80px;
 }

 #ul1 {

   text-align: center;
   list-style-type: none;




 }

 #l1 {
color: darkgrey;



 }

 /* Dropdown Button */
 .dropbtn {
   background-color: transparent;
   position: absolute;
top: -30px;
left: 10px;
     height: 100px;
     width: 100px;
background-color: none;
     padding: 16px;
     font-size: 100px;
     border: none;
     background-image:url(http://more-cliparts.net/images/pc5rBgnXi.png);
 }

 /* The container <div> - needed to position the dropdown content */
 .dropdown {
   background-color: transparent;
     position: absolute;
     display: inline-block;
     top: 0;
     left: 0;
 }

 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {

     display: none;
     position: absolute;
     background-color: transparent;
     min-width: 160px;
    padding: 30px;
     z-index: 1;
     left: 20px;

 }

 /* Links inside the dropdown */
 .dropdown-content a {
   background-color: transparent;

   font-family: "jaf-domus",sans-serif;
   font-weight: 200;
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     font-size: 50px;
     color: white;
     text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
      z-index: 100;
 }

 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {}

 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {

     display:block;
     font-size: 20px;
 }

 /* Change the background color of the dropdown button when the dropdown content is shown */
 .dropdown:hover .dropbtn {

 }



h7 {
  margin-top: 70px;
  position: relative;
  top: 90px;
  font-size: 150px;
  font-family: "dazzle-unicase",sans-serif;
  text-align: center;
  color: black;
  line-height: 180px;

}


h0 {
  margin-top: 70px;
  position: relative;
  top: 70px;
  font-size: 150px;
  font-family: "dazzle-unicase",sans-serif;
  text-align: center;
  color: black;
  line-height: 180px;

}
/* Add a black background color to the top navigation */
.topnav {
    background-color:white;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:hk-grotesk, tahoma, serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:white;

}

#snl {
  top: 300px;
  position: absolute;
}

#snlrightcol {
  top: 300px;
  left: 520px;
  position: absolute;
  margin-left: 50px;
}

/* Add an active class to highlight the current page */
.active {
    background-color: white;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: block;
}

a.back {
  font-size: 40px;
}


.footer {
  font-family: "jaf-domus",sans-serif;

  font-weight: 200;
  font-size: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    z-index: 100;
    margin-top: 50px;

}
.foottext {

  font-family: "jaf-domus",sans-serif;

  font-weight: 200;
  font-size: 30px;
    position: fixed;
    left: 600px;
    bottom: -8px;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    z-index: 100;
    margin-top: 30px;
    text-decoration: none;

}
#foot{

    text-align: right;
    margin-right: 30px;
}

#foottheme{
    text-align: right;
    margin-right: 30px;
    margin-top: 0px;
}

 h6 {
  font-size: 20px;
  position: absolute;
  font-family: "jaf-domus",sans-serif;
  font-weight: 200;
  text-align: justify;
  margin-right:20px;



}

h3 {
 font-size: 20px;
 position: absolute;
 font-family: "adelle-sans";
 text-align: justify;
 margin-right:20px;


}

h4 {
  font-size: 20px;
  position: absolute;
  font-family: "jaf-domus",sans-serif;
  font-weight: 200;
  top: 500px;
  left: 490px;
  text-align: justify;
  margin-right:20px;

}

.img11{
  display: inline-block;

}

.floatright {
  float: right;
}


.opacityless {
  opacity: 0.6;
}

a:hover {
  text-decoration: line-through;
  transition: ease;
}

a.links {
  font-size: 50px;
}

.exlink {
  font-size: 30px;
  color: white;
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 10px;
  position: relative;
  top: -10px;
  margin-left: 30px;
  padding-bottom: 10px;


}

.exlinkcon {

  height: 50px;
  width: 1600px;
  position:absolute;
  top: 1100px;
  padding-bottom: 20px;
  margin-top: 60px;
}


marquee {
  width: 1000;


}

.block:hover {
    border: 1px solid black;
}



.container{
  width: 1000px;
  height: 800px;
  margin-top: 0;
  margin-right: auto;

  margin-left: auto;
  background-color: white;
position: relative;
left: 0px;
}
.container2{
  width: 900px;
  height: 800px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  background-color: white;
position: relative;
}
.img1 {

  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

}

#move {

  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

}

.move {

  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  opacity: 0.5;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

}

.move:hover {
     filter: grayscale(0%);
     -webkit-filter: grayscale(0%);
     opacity: 1.0;
     transition: 1s;


}

.img2 {

  position: absolute;
  top: 300px;
  left:-10px;
  width: 300px;
  height: 250px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

}

.img3 {

  position: absolute;
  top: 200px;
  left: 300px;
  width: 300px;
  height: 250px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

}

#vid1 {
    position: relative;
  width: 600px;
  height: 400px;

}

#vid2 {
    position: relative;
  width: 800px;
  height: 400px;

}

#vid3 {
    position: relative;
  width: 900px;
  height: 600px;

}

.unmute {
  volume:3;

}

#vid16 {
  position: relative;
  width: 560px;
  height: 600px;

  top:100px;
}

#vid5 {
    position: relative;
  width: 400px;
  height: 300px;

  top:20px;
  right: -500px;
}
#vid6 {
    position: relative;
  width: 700px;
  height: 400px;

  top:500px;
  right: -500px;
}
#vid7 {
    position: relative;
  width: 400px;
  height: 200px;

  top:580px;
  left:-20px;
}
#vid8 {
  position: relative;
  width: 400px;
  height: 300px;

  top:-20px;
  right: 100px;
}
#vid9 {
    position: relative;
  width: 200px;
  height: 300px;

  top:300px;
  right: 100px;
}
#vid10 {
  position: relative;
  width: 900px;
  height: 300px;

  top:400px;
}
#vid11 {
    position: relative;
  width: 400px;
  height: 200px;

  top:1000px;
  left: 200px;
}
#vid12 {
    position: relative;
  width: 900px;
  height: 300px;

  top:800px;
  right: 300px;
}
#vid13 {
    position: relative;
  width: 900px;
  height: 400px;

  top:860px;
  left: 300px;
}
#vid14 {
    position: relative;
  width: 500px;
  height: 300px;

  top:1200px;
  left: -100px;


}
#vid15 {
    position: relative;
  width: 900px;
  height: 300px;

  top:1200px;
  left: 300px;
}
#vid17 {
position: relative;
  width: 500px;
  height: 400px;

  left: 600px;
  top: 100px;
}

#pic1 {
  width: 300px;
  height: 400px;
  opacity: 0.5;
}

.img4 {

  position: absolute;
  top: 100px;
  left: -80px;
  width: 300px;
  height: 250px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

}

#pic2 {
  width: 500px;
  height: 400px;
  opacity: 0.5;
}

.img1:hover {
     filter: grayscale(0%);
     -webkit-filter: grayscale(0%);
     opacity: 1.3;
}

.imggal:hover {
     filter: grayscale(0%);
     -webkit-filter: grayscale(0%);
     opacity: 1.3;
     opacity: 1;
     height: 1200px;
     width: 600px;
}




.img2:hover {
     filter: grayscale(0%);
     -webkit-filter: grayscale(0%);
     opacity: 1.3;
}

.img3:hover {
     filter: grayscale(0%);
     -webkit-filter: grayscale(0%);
     opacity: 1.3;
}

.img4:hover {
     filter: grayscale(0%);
     -webkit-filter: grayscale(0%);
     opacity: 1.3;
}

.floatright {
  float: right;
  margin: 30px;
  position: absolute;
  right: 10px;
  top: 20px;
  opacity: 0.2;

}
#human {
  position: absolute;
  margin: 30px;
  top: 60px;
  left: 260px;

}

#dis1 {
  position: absolute;
  top: 400px;
  left: 100px;
}

#dis2 {
  position: absolute;
  top: 700px;
  left: 800px;
}

#dis3 {
  position: absolute;
  top: -100px;
  left: -600px;
}

#dis4 {
  position: absolute;
  top: -100px;
  left: -600px;
}

#dis5 {
  position: absolute;
  top: 100px;
  left: -600px;
}
#dis6 {
  position: absolute;
  top: -500px;
  left: -150px;
}

#dis11 {
  position: absolute;
  top: 200px;
  left: 150px;
}
#dis10 {
  position: absolute;
  top: 500px;
  left: 550px;
}

#dis14 {
  position: absolute;
  top: 530px;
  left: 530px;
}
.floatleft {
  float: right;
  position: relative;
  margin: 30px;
  top: -400px;
  left: 0px;
  opacity: 0.2;
}

.floatright:hover {

     opacity: 1.3;
     z-index: 100;
}

.floatleft:hover {

     opacity: 1.3;
     z-index: 100;
}
.space {
  margin:20px;
  float: right;
}

#follower {
  opacity: 0.4;
  left:400px;
   top:400px;
   transform: scale(0.5);
   height: 200px;
   width:200px;
     position: absolute;
     float: left;
     transition:all 1.7s;

}

#cover4 {

   height: 800px;
   width:1200px;
     position: absolute;
     float: left;
     transition:all 0.2s;
     top: 650px;
     left: 150px;
     opacity: 0.6;
     z-index: -1;
      transition:all 0.6s;

}



.covercontainer
{
    width:2000px;
    height:2000px;
    position:absolute;

    top:-100px;
    left: 120px;


    overflow:hidden;

}

#clicker {
  position: absolute;
  top:10px;
  left: 10px;
}
.cover1
{
top: -100px;
left:100px;
position: relative;
height: 800px;
width: 1200px;
}

#follower2
{
  opacity: 0.4;
  left:400px;
   top:400px;
  transform: scale(0.5);
    position: absolute;
    float: left;
    transition:all 2s;
    z-index: -1;
}
#follower3
{
  opacity: 0.4;
  left:400px;
   top:400px;
  transform: scale(0.8);
    position: absolute;
    float: left;
    transition:all 2s;
    z-index: -1;
}
#follower4
{
  opacity: 0.4;
  left:400px;
   top:400px;
  transform: scale(0.4);
    position: absolute;
    float: left;
    transition:all 0.7s;
    z-index: -1;
}

#follower5
{
  opacity: 0.4;
  left:400px;
   top:400px;
  transform: scale(0.5);
    position: absolute;
    float: left;
    transition:all 2s;
    z-index: -1;
}

#follower6
{
  opacity: 0.4;
  left:400px;
   top:400px;
  transform: scale(0.9);
    position: absolute;
    float: left;
    transition:all 1s;
    z-index: -1;
}

#follower7
{
  opacity: 0.4;
  left:400px;
   top:400px;
  transform: scale(0.9);
    position: absolute;
    float: left;
    transition:all 0.5s;
    z-index: -1;
}


#follower8
{
  opacity: 0.4;
  left:400px;
   top:400px;
  transform: scale(0.9);
    position: absolute;
    float: left;
    transition:all 1s;
    z-index: -1;
}

#follower9
{
  opacity: 0.4;
  left:400px;
   top:400px;
  transform: scale(0.5);
    position: absolute;
    float: left;
    transition:all 1s;
    z-index: -1;
}

#follower10
{
  opacity: 0.4;
  left:400px;
   top:400px;
  transform: scale(0.5);
    position: absolute;
    float: left;
    transition:all 2s;
    z-index: -1;
}

#follower11
{
  width: 350px;
height: 400px;
background-color: transparent;
  opacity: 0.4;
  left:600px;
   top:400px;
  transform: scale(0.6);
    position: absolute;
    float: left;
    transition:all 2s;
    z-index: -1;
}

.movebig {
  transform: scale(0.6);
}

#fa1 {
  position: relative;
width: 300px;
height: 500px;
top:120px;
left: -140px;
}


#fa2 {
  position: relative;
width: 600px;
height: 800px;
top:-200px;
left: 400px;
}

#fa3 {
  position: relative;
width: 300px;
height: 400px;
top:-120px;
left: 560px;
}

#fa5 {
  position: relative;
width: 250px;
height: 390px;
top:400px;
left: 300px;
}

#fa4 {
  position: relative;
width: 300px;
height: 550px;
top:500px;
left: 680px;
}

#fa6 {
  position: relative;
width: 300px;
height: 500px;
top:400px;
left: 0px;
}

#fa7 {
  position: relative;
width: 300px;
height: 500px;
top:-10px;
left: 130px;
}

#fa8 {
  position: relative;
width: 300px;
height: 500px;
top:1200px;
left: 740px;
}

#fa9 {
  position: relative;
width: 220px;
height: 350px;
top:940px;
left: 160px;
}

#fa10 {
  position: relative;
width: 300px;
height: 500px;
top:850px;
left: -100px;
}

#fa11 {
  position: relative;
width: 500px;
height: 600px;
top:800px;
left: 340px;
}

#fa12 {
  position: relative;
width: 200px;
height: 300px;
top:1200px;
left: 500px;
}

#fa13 {
  position: relative;
width: 300px;
height: 460px;
top:1300px;
left: 150px;
}
#fa14 {
  position: relative;
width: 300px;
height: 400px;
top:1200px;
left: -200px;
}

#p1 {
  position: absolute;
width: 300px;
height: 500px;
top:120px;
left: -140px;
}


#p2 {
  position: relative;
width: 300px;
height: 450px;
top:-30px;
left: 500px;
}

#p3 {
  position: relative;
width: 300px;
height: 400px;
top:0px;
left: 740px;
}

#p5 {
  position: relative;
width: 250px;
height: 380px;
top:430px;
left: 450px;
}

#p4 {
  position: relative;
width: 300px;
height: 400px;
top:460px;
left: 680px;
}

#p6 {
  position: relative;
width: 300px;
height: 450px;
top:500px;
left: 0px;
}

#p7 {
  position: relative;
width: 300px;
height: 500px;
top:-10px;
left: 130px;
}

#p8 {
  position: relative;
width: 300px;
height: 500px;
top:1200px;
left: 740px;
}

#p9 {
  position: relative;
width: 220px;
height: 350px;
top:840px;
left: 800px;
}

#p10 {
  position: relative;
width: 300px;
height: 500px;
top:850px;
left: -100px;
}

#p11 {
  position: relative;
width: 450px;
height: 600px;
top:800px;
left: 340px;
}

#p12 {
  position: relative;
width: 200px;
height: 300px;
top:1400px;
left: 500px;
}

#p13 {
  position: relative;
width: 300px;
height: 410px;
top:1300px;
left: 190px;
}
#p14 {
  position: relative;
width: 300px;
height: 400px;
top:1300px;
left: -150px;
}

#mydiv {
  height: 100px;
  width: 100px;
  background-color: yellow;
}

.image {
	width: 900px;
	height: 900px;
  position: absolute;

	top: 0;
	left: 0;
}

.images {
	width: 900px;
	height: 900px;
  position: absolute;

	top: 0;
	left: 0;
}


.static {
	width: 900px;
	height: 900px;
  position: absolute;
	top: 0;
	left: 0;
}

.stat {
	width: 900px;
	height: 900px;
  position: absolute;
	top: 0;
	left: 0;
}


#snltitle {
  margin-top: 70px;
  position: relative;
  top: 90px;
  font-size: 150px;
  font-family: "dazzle-unicase",sans-serif;
  text-align: center;
  color: black;
  line-height: 180px;
  display: none;
}
.container1 {

  width: 100%;
    height: 100%;
    transform:

}

.container2 {

  width: 100%;
    height: 100%;
    transform:

}

#rando {
  height: 100px;
  width: 100px;
  background-color: red;

  top: 100px;
  left: 10px;
}

.column {
  line-height: 25px;
  font-family: "jaf-domus",sans-serif;
  font-weight: 200;
  float: left;
width: 35%;
 text-align: justify;
margin: 20px;
font-size: 22px;
z-index: 100;
position: relative;
margin-left: 20px;
top: 60px;







}

blockquote {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.fcolumn {
  line-height: 25px;
  font-family: "jaf-domus",sans-serif;
  font-weight: 200;
  float: left;
width: 35%;
margin: 20px;
font-size: 22px;
z-index: 100;
position: relative;
margin-left: 200px;
top: -100px;
text-align: justify;



}
#gr {
  color: slategrey;
}
#dis45
{
  top: 1100px;
  left: 50px;
  margin-bottom: 30px;
}
#dis44
{
  top: 1000px;
  left: 800px;
  margin-bottom: 30px;
}

#dis42
{
  top: 1000px;
  left: 800px;
  margin-bottom: 30px;
}
#dis111
{
  top: 900px;
  left: 600px;
}
#frightcol {
  position: absolute;
  top:420px;
  left: 800px;
  margin-left: 0px;
}
#rightcol {
  margin-left: 20px;
}
.buton123 {
  position: absolute;
  background-color: transparent;
  height:700px;
  width: 400px;
  display: none;
}

@media (max-width: 980px) {
  .a6 {
    line-height: 200px;
  }
  #small3 {
    text-align: center;
    top: -90px;
    line-height: 65px;
    font-size: 50px;
    margin: 30px;
    padding: 50px;

  }
  #small4 {
    text-align: center;
    top: -90px;
    line-height: 65px;
    font-size: 50px;
    margin: 30px;
    padding: 50px;

  }
  .move {
    transform: scale(2);
  }
  #p1{
    left: 100px;
  }

  #p7 {
    left: 200px;
  }
  #p6 {
    left: 100px;
  }
  #p10 {
    left: 100px;
  }
  #p14 {
    left: 80px;
  }
  #p13 {
    left: 300px;
  }
  #p12 {
    left: 600px;
  }
  #p3 {
    top: 100px;
  }
  #vid8 {
    top: 70px;
    left: 200px;
  }
  #vid9 {
    left: 300px;
  }
  #fa1 {
    left: 0px;
  }
  #fa7 {
    top: 40px;
    left:200px;

  }
  #fa3 {
    top: 40px;


  }
  #fa10 {
    left: 40px;


  }
  #fa9 {
    left: 30px;
    top: 1360px;


  }

  #fa14 {
    left: 430px;
    top: 1360px;

  }
  .dropbtn {
    left: 0px;
    top: 0px;
    background-color: transparent;
    position: absolute;
      height: 100px;
      width: 100px;
 background-color: none;
      padding: 16px;
      font-size: 100px;
      border: none;
      z-index: 100;
  }
  .column {
    width: 590px;
    font-size: 40px;
    line-height: 30px;
  }
  #snl {
    width: 590px;
    font-size: 40px;
    line-height: 30px;
  }

  .fcolumn {
    font-size: 40px;
    width: 590px;
    font-size: 40px;
    line-height: 30px;
    top: -70px;
  }


  #rightcol {
    font-size: 40px;
    left: 170px;
  }
  #snlrightcol {
    font-size: 40px;
    left: 170px;
    top: 1150px;
  }

  #frightcol {
    font-size: 40px;
    left: 210px;
    top:1550px;
  }
  .column:hover {
    z-index: 100;
  }
  #dis3{
    top:-800px;
    left: -100px;

  }
  #dis2{
    top:1300px;
    left: 300px;

  }
  #dis1{
    top:1300px;
    left: 300px;

  }

  #dis5{
    top:100px;
    left: 300px;

  }
.floatright{
  top: 600px;
}
#dis10
{
  top: 1400px;
}

#dis14
{
  top: 1600px;
  left: 20px;
}

h0 {top: 100px;
}
h7 {top: 100px;
}
.snltitle{
  display: inline-block;
  top: 100px;
}
.follower1 {
  top: 1000px;
  left: 0px;
}
}

}
