
@font-face {
font-family:hk-light;
src: url(assets/fonts/HKGrotesk-Light.otf);}

body, html {
    height: 100%;
}

.vid {
  float: left;
  margin-right: 10px;
  margin-top: -5px;
}
#cover1 {
    background-image: src url(assets/media/cover.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

#small1 {
  font-size: 30px;
}

#small2 {
  font-size: 30px;
}

#small3 {
  font-size: 40px;
  text-align: center;

}
h1 {
  margin-top: 40px;
  font-size: 250px;
  font-family:hk-grotesk, tahoma, serif;
  text-align: center;
  color: white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}
 a {
   margin-top: 20px;
   font-size: 100px;
   font-family:hk-grotesk, tahoma, serif;
   text-align: center;
   color: white;
   text-shadow:
 		-1px -1px 0 #000,
 		1px -1px 0 #000,
 		-1px 1px 0 #000,
 		1px 1px 0 #000;
 }

 .a6 {
   margin-top: 20px;
   font-size: 100px;
   font-family:hk-grotesk, tahoma, serif;
   text-align: center;
   color: white;
   text-shadow:
 		-1px -1px 0 #000,
 		1px -1px 0 #000,
 		-1px 1px 0 #000,
 		1px 1px 0 #000;
 }


 .a4:hover img{ display:block; top: 900px; opacity: 0.7; transition: 0.7s;}
 .a4:hover {color: white;}






h7 {
  margin-top: 40px;
  font-size: 150px;
  font-family:hk-grotesk, tahoma, serif;
  text-align: center;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color:white;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:hk-grotesk, tahoma, serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:white;
    color:  palegreen;
}

/* Add an active class to highlight the current page */
.active {
    background-color: white;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: block;
}

a.back {
  font-size: 40px;
}

h3 {
  font-size: 20px;
  position: absolute;
  font-family: Roboto;serif;
  top: 180px;
  left: 490px;
  text-align: justify;
  margin-right:20px;

}

 h6 {
  font-size: 20px;
  position: absolute;
  font-family: Roboto;serif;
  top: 320px;
  left: 490px;
  text-align: justify;
  margin-right:20px;

}

h4 {
  font-size: 20px;
  position: absolute;
  font-family: Roboto;serif;
  top: 500px;
  left: 490px;
  text-align: justify;
  margin-right:20px;

}

.img11{
  display: inline-block;

}

.floatright {
  float: right;
}
.opacityless {
  opacity: 0.6;
}

a:hover {
  text-decoration: line-through;
  transition: ease;
}

a.links {
  font-size: 50px;
}




.block:hover {
    border: 1px solid black;
}



.container{
  width: 900px;
  height: 800px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  background-color: white;
position: relative;
}
.container2{
  width: 900px;
  height: 800px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  background-color: white;
position: relative;
}
.img1 {

  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

}

#move {

  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

}

.move {

  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  opacity: 0.5;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

}

.move:hover {
     filter: grayscale(0%);
     -webkit-filter: grayscale(0%);
     opacity: 1.0;
     transition: 1s;


}

.img2 {

  position: absolute;
  top: 300px;
  left:-10px;
  width: 300px;
  height: 250px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

}

.img3 {

  position: absolute;
  top: 200px;
  left: 300px;
  width: 300px;
  height: 250px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

}

#vid1 {
    position: relative;
  width: 600px;
  height: 400px;

}

#vid2 {
    position: relative;
  width: 800px;
  height: 400px;

}

#vid3 {
    position: relative;
  width: 900px;
  height: 600px;

}

#vid16 {
  position: relative;
  width: 560px;
  height: 600px;

  top:100px;
}

#vid5 {
    position: relative;
  width: 400px;
  height: 300px;

  top:20px;
  right: -500px;
}
#vid6 {
    position: relative;
  width: 700px;
  height: 400px;

  top:500px;
  right: -500px;
}
#vid7 {
    position: relative;
  width: 400px;
  height: 200px;

  top:580px;
  left:-20px;
}
#vid8 {
  position: relative;
  width: 400px;
  height: 300px;

  top:-20px;
  right: 100px;
}
#vid9 {
    position: relative;
  width: 200px;
  height: 300px;

  top:300px;
  right: 100px;
}
#vid10 {
  position: relative;
  width: 900px;
  height: 300px;

  top:400px;
}
#vid11 {
    position: relative;
  width: 400px;
  height: 200px;

  top:1000px;
  left: 200px;
}
#vid12 {
    position: relative;
  width: 900px;
  height: 300px;

  top:800px;
  right: 300px;
}
#vid13 {
    position: relative;
  width: 900px;
  height: 400px;

  top:860px;
  left: 300px;
}
#vid14 {
    position: relative;
  width: 500px;
  height: 300px;

  top:1200px;
  left: -100px;


}
#vid15 {
    position: relative;
  width: 900px;
  height: 300px;

  top:1200px;
  left: 300px;
}
#vid17 {
position: relative;
  width: 500px;
  height: 400px;

  left: 600px;
  top: 100px;
}

#pic1 {
  width: 300px;
  height: 400px;
  opacity: 0.5;
}

.img4 {

  position: absolute;
  top: 100px;
  left: -80px;
  width: 300px;
  height: 250px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

}

#pic2 {
  width: 500px;
  height: 400px;
  opacity: 0.5;
}

.img1:hover {
     filter: grayscale(0%);
     -webkit-filter: grayscale(0%);
     opacity: 1.3;
}

.imggal:hover {
     filter: grayscale(0%);
     -webkit-filter: grayscale(0%);
     opacity: 1.3;
     opacity: 1;
     height: 1200px;
     width: 600px;
}




.img2:hover {
     filter: grayscale(0%);
     -webkit-filter: grayscale(0%);
     opacity: 1.3;
}

.img3:hover {
     filter: grayscale(0%);
     -webkit-filter: grayscale(0%);
     opacity: 1.3;
}

.img4:hover {
     filter: grayscale(0%);
     -webkit-filter: grayscale(0%);
     opacity: 1.3;
}

.floatright {
  float: right;
  display: inline-block;
  margin: 10px;
}
.floatleft {
  float: right;
  display: inline-block;
  margin: 10px;
}

.space {
  margin:20px;
  float: right;
}

#follower {
  opacity: 0.4;
  left:400px;
   top:400px;
   transform: scale(0.5);
   height: 200px;
   width:200px;
     position: absolute;
     float: left;
     transition:all 1.7s;

}

#follower2
{
  opacity: 0.4;
  left:400px;
   top:400px;
  transform: scale(0.5);
    position: absolute;
    float: left;
    transition:all 2s;
}
#follower3
{
  opacity: 0.4;
  left:400px;
   top:400px;
  transform: scale(0.8);
    position: absolute;
    float: left;
    transition:all 2s;
}
#follower4
{
  opacity: 0.4;
  left:400px;
   top:400px;
  transform: scale(0.4);
    position: absolute;
    float: left;
    transition:all 0.7s;
}

#follower5
{
  opacity: 0.4;
  left:400px;
   top:400px;
  transform: scale(0.5);
    position: absolute;
    float: left;
    transition:all 2s;
}

#follower6
{
  opacity: 0.4;
  left:400px;
   top:400px;
  transform: scale(0.9);
    position: absolute;
    float: left;
    transition:all 1s;
}

#follower7
{
  opacity: 0.4;
  left:400px;
   top:400px;
  transform: scale(0.9);
    position: absolute;
    float: left;
    transition:all 0.5s;
}


#follower8
{
  opacity: 0.4;
  left:400px;
   top:400px;
  transform: scale(0.9);
    position: absolute;
    float: left;
    transition:all 1s;
}

#follower9
{
  opacity: 0.4;
  left:400px;
   top:400px;
  transform: scale(0.5);
    position: absolute;
    float: left;
    transition:all 1s;
}

#follower10
{
  opacity: 0.4;
  left:400px;
   top:400px;
  transform: scale(0.5);
    position: absolute;
    float: left;
    transition:all 2s;
}

.movebig {
  transform: scale(0.6);
}

#fa1 {
  position: relative;
width: 300px;
height: 500px;
top:120px;
left: -140px;
}


#fa2 {
  position: relative;
width: 600px;
height: 800px;
top:-200px;
left: 400px;
}

#fa3 {
  position: relative;
width: 300px;
height: 400px;
top:-120px;
left: 560px;
}

#fa5 {
  position: relative;
width: 250px;
height: 390px;
top:400px;
left: 300px;
}

#fa4 {
  position: relative;
width: 300px;
height: 550px;
top:500px;
left: 680px;
}

#fa6 {
  position: relative;
width: 300px;
height: 500px;
top:400px;
left: 0px;
}

#fa7 {
  position: relative;
width: 300px;
height: 500px;
top:-10px;
left: 130px;
}

#fa8 {
  position: relative;
width: 300px;
height: 500px;
top:1200px;
left: 740px;
}

#fa9 {
  position: relative;
width: 220px;
height: 350px;
top:940px;
left: 160px;
}

#fa10 {
  position: relative;
width: 300px;
height: 500px;
top:850px;
left: -100px;
}

#fa11 {
  position: relative;
width: 500px;
height: 600px;
top:800px;
left: 340px;
}

#fa12 {
  position: relative;
width: 200px;
height: 300px;
top:1200px;
left: 500px;
}

#fa13 {
  position: relative;
width: 300px;
height: 460px;
top:1300px;
left: 150px;
}
#fa14 {
  position: relative;
width: 300px;
height: 400px;
top:1200px;
left: -200px;
}

#p1 {
  position: absolute;
width: 300px;
height: 500px;
top:120px;
left: -140px;
}


#p2 {
  position: relative;
width: 300px;
height: 450px;
top:-30px;
left: 500px;
}

#p3 {
  position: relative;
width: 300px;
height: 400px;
top:0px;
left: 740px;
}

#p5 {
  position: relative;
width: 250px;
height: 380px;
top:430px;
left: 450px;
}

#p4 {
  position: relative;
width: 300px;
height: 400px;
top:460px;
left: 680px;
}

#p6 {
  position: relative;
width: 300px;
height: 450px;
top:500px;
left: 0px;
}

#p7 {
  position: relative;
width: 300px;
height: 500px;
top:-10px;
left: 130px;
}

#p8 {
  position: relative;
width: 300px;
height: 500px;
top:1200px;
left: 740px;
}

#p9 {
  position: relative;
width: 220px;
height: 350px;
top:840px;
left: 800px;
}

#p10 {
  position: relative;
width: 300px;
height: 500px;
top:850px;
left: -100px;
}

#p11 {
  position: relative;
width: 450px;
height: 600px;
top:800px;
left: 340px;
}

#p12 {
  position: relative;
width: 200px;
height: 300px;
top:1400px;
left: 500px;
}

#p13 {
  position: relative;
width: 300px;
height: 410px;
top:1300px;
left: 190px;
}
#p14 {
  position: relative;
width: 300px;
height: 400px;
top:1300px;
left: -150px;
}

#mydiv {
  height: 100px;
  width: 100px;
  background-color: yellow;
}

.image {
	width: 900px;
	height: 900px;
  position: absolute;

	top: 0;
	left: 0;
}

.container1 {

  width: 100%;
    height: 100%;
    transform:

}

#rando {
  height: 100px;
  width: 100px;
  background-color: red;

  top: 100px;
  left: 10px;
}
