html {background-color: black}
h1{color:INDIANRED;font-family: 'Roboto', sans-serif; font-size: 50px;}
h2{color:white;font-family: 'Roboto', sans-serif; font-size: 20px;}
h3 {color:white;font-family: 'Roboto', sans-serif; font-size: 30px;}
body {margin-left: 1in;margin-right: 0.5in;margin-top: 1in;}
a{color:lightblue; font-family: 'Roboto', sans-serif; font-size: 20px;text-decoration: none;}
a:hover {color:salmon; font-family: 'Roboto', sans-serif; font-size: 20px; text-decoration: none;}

video { display: inline-block;left: 10px; margin: 20PX;}
figure { display: inline-block;left: 10px; float: left;margin: 20PX;}

figcaption {
  position: relative;
  bottom: 20px;
  right: 20px;
  color: red;
  font-family: Helvetica;

}
.a1 {
  position: relative;
  bottom: 20px;
  right: -690px;
  color: red;
  font-family: Helvetica;

}
