h4{color:indianred; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 50px;}
h2{color:salmon; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;; font-size: 30px;}
h3 {color:grey; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;; font-size: 30px;}
body {margin-left: 2in;margin-right: 2in;margin-top: 3in;}
a{color:lightblue;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;; font-size: 20px;}
h4{color:indianred;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;; font-size: 50px;}

ul {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
    font-family: 'NordicaHairline', Times, serif;font-size: 20px;
}

li { list-style: none;}

li a {
    display: block;
    color: lightblue;
    padding: 2px 2px;
    text-decoration: none;
}

li:hover{
    display: block;
    color: slategrey;
    padding: 2px 2px;
    text-decoration: none;
}
