h1{color:white; font-family: 'Roboto', sans-serif; font-size: 150px;position:absolute;left:6px;top:20px;text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;}
h2{color:salmon; font-family: 'Roboto', sans-serif; font-size: 30px;}
h3 {color:grey; font-family: 'Roboto', sans-serif; font-size: 30px;}
body {margin-left: 2in;margin-right: 2in;margin-top: 3in;}
a{position: relative; left: 50px; top: -200px;color:palegreen;font-family: 'Roboto', sans-serif; font-size: 50px;opacity: 0.7; line-height: 50px;}
h4{color:indianred;font-family: 'Roboto', sans-serif; font-size: 50px;}
.back {color:palegreen;font-family: 'Roboto', sans-serif; font-size: 30px;opacity: 0.7; line-height: 40px

}
ul {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
    font-family: 'Roboto', sans-serif;font-size: 50px;
}

li { list-style: none;}

li a {
    display: block;
    color: SpringGreen ;
    padding: 2px 2px;
    text-decoration: none;
}

a:hover{
    display: block;
    color: LightSteelBlue;
    padding: 2px 2px;
    text-decoration: none;
}

.back:hover {display: block;
color: LightSteelBlue;
padding: 2px 2px;
text-decoration: none;

}

.other {
left: 800px; top:-250px;color:palegreen;font-family: 'Roboto', sans-serif; font-size: 100px;opacity: 0.7;text-decoration: none;line-height: 70px;
}
