h1{color:INDIANRED; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 50px;}
h2{color:salmon; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 30px;}
h3 {color:grey; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 30px;}
body {margin-left: 1in;margin-right: 0.5in;margin-top: 1in;}
a{color:lightblue; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 20px;}
