h1{color:INDIANRED; color:INDIANRED; font-family:'NordicaThin', Times, serif;font-size: 50px;}
h2{color:salmon; font-family: 'NordicaThin', Times, serif; font-size: 30px;}
h3 {color:grey; font-family: 'NordicaThin', Times, serif; font-size: 30px;}
body {margin-left: 1in;margin-right: 0.5in;margin-top: 1in;}
a{color:lightblue; font-family: 'NordicaThin', Times, serif; font-size: 20px;}
h3 {color:red; font-family:"Benguiatbold", Helvetica, Arial, sans-serif; font-size: 30px;}

ul {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
  font-family: 'NordicaThin', Times, serif; font-size: 20px;
}

li { list-style: none;}

li a {
    display: block;
    color: lightblue;
    padding: 2px 2px;
    text-decoration: none;
}
